NEXT_PUBLIC_DOMAIN=http://localhost:4040
NEXTAUTH_URL=${NEXT_PUBLIC_DOMAIN}
NEXTAUTH_SECRET=replace-with-nextauth-secret
EXTERNAL_REQUEST_SECRET=replace-with-external-request-secret
NEXT_PUBLIC_API_URL=http://localhost:4040
NEXT_PUBLIC_STORE_NAME=STOCK
